.dashboard {
    .content__header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        > * { flex: 1; }

        @media screen and (min-width: $vp-large) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .block-title {
        @include scale-font($small-ratio: .65, $mid-ratio: .75, $final-size: 2.375rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 81.25rem;
        min-height: 4.375rem;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        font-weight: 500;
        text-align: center;
        line-height: 1.5;
        color: white;
        background-image: url(../images/bg-blue.jpg);
        background-size:cover;
        background-position: center;

        strong { margin-left: .75rem; }

        @media screen and (min-width: $vp-large) {
            flex-direction: row;
            padding: 0;
            line-height: 1;
            background-size: 100% 100%;
        }
    }

    .block-a1 {
        width: 100%;
        padding: 2rem 0;

        .items-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .item {
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: 18.75rem;
            height: 21.125rem;
            margin: 1rem;
            font-size: 1.375rem;
            text-align: center;
            box-shadow: var(--base-shadow);
            border-radius: 1.25rem;
            line-height: 1;
            background-color: #f8f8f8;

            &:first-child {
                @include scale-font($small-ratio: .75, $final-size: 2rem);
                flex: 1;
                display: flex;
                align-items: center;
                height: auto;
                text-align: left;
                box-shadow: none;
                line-height: 1.2;
                background-color: transparent;

                strong {
                    width: 70%;
                    font-size: 1.5em;
                }

                @media screen and (min-width: $vp-mid) {
                    height: 21.125rem;
                    padding: 0 3%;
                }
            }

            &:last-child {
                .amount { font-size: 2.875rem; }
            }

            .summary > * { 
                margin: 0; 
            }

            .summary {
                p:first-of-type {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    max-width: 12.5rem;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }

                p { margin: .375rem 0; }
            }

            .image {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .amount {
                font-size: 2rem;
                font-weight: 700;
                color: var(--primary-color);
            }

            strong { 
                display: block;
                font-weight: 800; 
            }
        }
    }

    .block-a2 {
        .items-list {
            display: flex;
            justify-content: center;
            padding: 5rem 0 3rem;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-size: .65rem;
            padding: 0 2%;
            text-align: center;

            @media screen and (min-width: $vp-large) {
                font-size: 1rem;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                right: 0;
            }

            &:before {
                top: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(0,0,0,.2);
            }

            &:after {
                content: "+";
                top: 50%;
                font-size: 5rem;
                font-weight: 700;
                right: -24px;
                color: var(--primary-color);
                transform: translateY(-50%);
            }

            &:last-child {
                strong { color: rgba($primary-color, .7); }

                &:before, &:after { content: none; }
            }
            
            p {
                max-width: 18.125rem;
                width: 100%;
                margin: 0 auto;
                font-size: 1.5em;

                &:first-of-type {
                    font-size: 2em;
                    font-weight: 700;
                }

                &:last-child {
                    max-width: 15rem;
                }
            }

            .amount {
                font-size: 6em;
                font-weight: 800;
                color: var(--primary-color);
            }

            strong {
                display: block;
                font-weight: 700;
                color: var(--primary-color);
            }
        }

        .summary {
            padding-bottom: 5rem;
            text-align: center;

            p {
                display: block;
                margin: 0;
                font-size: 1.75em;

                em {
                    margin: 0 .25rem;
                    font-style: normal;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: var(--primary-color);
                }
            }
        }
    }

    .block-a3 {
        .section-inner > p {
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;

            a {
                font-weight: 700;
                text-decoration: none;
                color: var(--tertiary-color);

                &:hover,
                &:focus { color: var(--primary-color); }
            }
        }

        .items-list { padding: 2rem 0; }

        .item {
            width: 100%;
            margin: 2rem 0;
            padding: 2rem 0;
            font-size: .65rem;
            border-radius: 3.75rem;
            color: white;
            background-image: url(../images/bg-red.jpg);
            background-size: cover;
            background-repeat: none;

            @media screen and (min-width: $vp-large) {
                font-size: 1rem;
                height: 15.75rem;
                border-radius: 0;
                background-size: 100% 100%;
            }

            &:last-child {
                p:first-child {
                    max-width: 32rem;
                    font-size: 2.5em;
                }
            }

            .summary {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
                max-width: 70%;
                width: 100%;
                height: 100%;
                margin: 0 auto;

                @media screen and (min-width: $vp-mid) {
                    max-width: 98%;
                }

                @media screen and (min-width: $site-width) {
                    max-width: 80%;
                    align-items: center;
                }
            }

            p {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 21rem;
                width: 100%;
                margin: 0;
                font-size: 2em;
                font-weight: 700;
                line-height: 1.2;

                @media screen and (min-width: $vp-max) {
                    flex: none;
                }
    
                strong {
                    display: flex;
                    align-items: flex-end;
                    font-size: 2em;
                    font-weight: 800;
                    letter-spacing: .05em;;
                    color: var(--secondary-color);
    
                    sub { 
                        position: relative;
                        top: -10px;
                        margin-right: .5rem;
                        font-size: 0.5em; 
                    }
                }
    
                em { 
                    font-style: normal; 
                    font-weight: 400;
                }
            }

            svg {
                flex: none;

                @media screen and (max-width: $vp-max) {
                    width: 100px;
                    height: 100px;
                    margin: 1rem;
                }
            }
        }
    }   
}