.dashboard-welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $vp-large) {
        justify-content: flex-start;
    }

    .summary { 
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3rem;
        text-align: center;
        color: var(--tertiary-color); 
    }

    img { 
        display: block;
        border-radius: 50%; 
    }

    h2, p { margin: 0; }

    h2 { @include scale-font($small-ratio: .75, $mid-ratio: .75, $final-size: 2.3125rem); }
    p { @include scale-font($small-ratio: .75, $mid-ratio: .75, $final-size: 1.5rem); }
}