.dashboard-sorteos {
    .hero-image img {
        max-width: 100%;
        width: 100%;
    }

    .points {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .item { 
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 23.125rem;
            width: 100%;
            margin: 1rem; 
        
            .action-link {
                font-size: 1.125rem;
                background-color: var(--tertiary-color);
                transition: all .5;
        
                &:hover,
                &:focus {
                    color: white;
                    background-color: var(--primary-color);
                }
            }
        }
    
        .summary {
            display: flex;
            width: 100%;
            min-height: 8rem;
            margin-bottom: 1rem;
            border-radius: .625rem;
            border: 2px solid var(--tertiary-color);
        }
    
        .summary-col {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            height: 100%;
            font-size: .75rem;
            text-align: center;

            @media screen and (min-width: $vp-mid) {
                font-size: 1rem;
            }
    
            &:first-child:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 2px;
                height: 80%;
                background-color: #afafaf;
                transform: translateY(-50%);
            }
    
            p {
                margin: 0;
                font-size: 1.375em;
                font-weight: 500;
    
                &:first-child {
                    font: {
                        size: 3em;
                        weight: 700;
                    }
                    color: var(--primary-color);
                }
            }
        }
    }

    .mecanica {
        .title { color: var(--tertiary-color); }

        @media screen and (min-width: $vp-large) {
            .summary { padding: 0 5%; }
        }
    }

    .content__body > .action-links a {
        margin: 0 1rem;
        font-size: 1rem;
        font-weight: 600;
        border: 1px solid var(--c-text);
        color: var(--c-text);
        background-color: white;
        transition: background-color .5s;

        &:hover,
        &:focus {
            border-color: var(--primary-color);
            color: white;
            background-color: var(--primary-color);
        }
    }

    .list {
        padding: 4rem 0;

        .items-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 27.5rem), 1fr));
            gap: 1rem;
            justify-content: space-between;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            margin: .5rem 0;
            font-size: 1.125rem;
        }

        .action-link { font-size: 1.125rem; }
    }
}