.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;

    .container, .section-inner { 
        overflow: hidden; 
        padding: 0;
    }

    .tab-items {  
        .items-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .tab-item {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 8.0625rem;
            width: 100%;
            height: 2.5rem;
            margin: 0 .5rem;
            font-weight: 600;
            border-radius: 4rem;
            border: 2px solid var(--c-text);
            color: var(--c-text);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &.active{
                border-color: var(--primary-color);
                color: #fff;
                background-color: var(--primary-color);
            }

            @media screen and (min-width: $vp-large) {
                max-width: 9.0625rem;
            }
        }
    }

    .tab-panel-container {
        display: flex;
        padding: 2rem 0;
        transform: translateX(0);
        transition: all .2s ease-in;

        .tab-panel {
            width: 100%;
            padding: 0 1rem;
            flex-shrink: 0;
        }
    }
}
